.title {
    font-size: 4rem;
}

.ms_box {
    border: 1px solid var(--clr-dark-grey);
    justify-content: space-between;
    gap: 12px;
}

.square {
    width: calc(100% / 10 - 12px);
    aspect-ratio: 1 / 1;
    border: 1px solid var(--clr-dark-grey);
    
    transition: 
        background-color 200ms ease-in-out,
        color 200ms ease-in-out,
        transform 150ms ease-in;

    cursor: pointer;
}

.square:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
    transform: scale(1.2);
    border-radius: 6px;
}